body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .container {
    padding-top: 124px;
}

*,
*:focus,
*:hover {
    outline: none;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.banner {
    width: 100%;
    background-color: white;

    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 2rem;
        vertical-align: middle;

        a {
            color: #213364;
        }
    }
    .navbar {
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            vertical-align: middle;
            padding-left: 10px;

            li {
                color: rgb(53, 53, 53);
                margin: 0 5px;
                font-size: 1.7em;

                a {
                    color: rgb(53, 53, 53);
                }

                a:hover {
                    color: #213364;
                }
            }

            .slash {
                cursor: default;
                font-size: 2.8em;
                height: 54px;
                line-height: 48px;
                margin: 0 10px;
            }
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-left: auto;
        font-size: 1.2em;

        a {
            font-weight: 700;
            color: #213364;
        }
        i {
            font-size: 1.7em;
            margin-left: 10px;
        }

        a:hover > .far {
            font-weight: 600;
        }
    }
}

.about {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    background-color: #101f47;

    .photo {
        width: 150px;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        color: white;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            font-weight: 600;
        }

        .title {
            font-size: 1.8em;
            text-align: center;
        }

        .text {
            max-width: 600px;
            text-align: center;
            font-size: 1.3em;
            font-weight: 300;
        }
    }
}
