#about {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding: 20px;
    /*background: linear-gradient(
        to top,
        $primary-color_darker 0%,
        $primary-color_darker 90%,
        $primary-color 0%,
        $primary-color 90%
    );*/
    background-image: url(../../public/img/background.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    .photo {
        width: 150px;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        color: white;
        padding-top: 20px;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            font-weight: 600;
        }

        .title {
            font-size: 1.8em;
            text-align: center;
            margin-bottom: 10px;
        }

        .text {
            max-width: 600px;
            text-align: center;
            font-size: 1.3em;
            font-weight: 400;

            .OC{
                font-weight: 500;
            }
        }
    }
}

@include for-phone-down{
    .container{
        #about{
            height: 90vh;
            .presentation{
                .title{
                    font-size: 1.4em;
                }

                .text{
                    font-size: 1.1em;
                }
            }
        }
    }
}