#banner {
    width: 100%;
    background-color: white;
    z-index: 100;

    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 2rem;
        vertical-align: middle;

        a {
            color: $primary-color;
        }
    }
    #navbar {
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            vertical-align: middle;
            padding-left: 10px;

            li {
                color: $secondary-color;
                margin: 0 5px;
                font-size: 1.7em;

                a {
                    color: $secondary-color;
                }

                a:hover {
                    color: $primary-color;
                }
            }

            .slash {
                cursor: default;
                font-size: 2.8em;
                height: 54px;
                line-height: 48px;
                margin: 0 10px;
            }
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-left: auto;
        font-size: 1.2em;

        a {
            font-weight: 700;
            color: #213364;
        }
        i {
            font-size: 1.7em;
            margin-left: 10px;
        }

        a:hover > .far {
            font-weight: 600;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 0 0 rgb(17 17 17 / 7%);

    .container {
        padding: 0px 10px !important;
        transition: padding 0.5s;
    }
}

.sticky + .container {
    padding-top: 106px;
}
