#projects {
    position: relative;
    background-color: transparent;
    padding-bottom: 100px;

    &::before {
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: calc(100% + 100px);
        clip-path: polygon(0% 0%, 100% 75px, 100% 100%, 0% calc(100% - 75px));
        background-color: $primary-color;
        /* background-image: url(../../public/img/background_cover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;*/
    }

    .hero_content {
        position: relative;
        z-index: 1;
    }

    .title {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.8em;
        margin-bottom: 100px;
    }

    .projectList {
        display: flex;
        flex-direction: column;
    }

    .projectCard {
        height: 400px;
        width: 525px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 100px;
        padding: 40px 0 40px 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        transition: width 0.8s, opacity 200ms ;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-10%);
        left: -5%;

        &.js-scroll {
            opacity: 0;
        
            &.scrolled {
                opacity: 1;
        
                &.slideLeft {
                    animation: slideInLeft 750ms ease-in-out both;
                }
        
                &.slideRight {
                    animation: slideInRight 750ms ease-in-out both;
                }
            }
        }

        .thumbnail {
            z-index: 20;
            align-self: flex-end;
            height: 100%;

            .website {
                text-align: center;
                margin: 0 0 40px 0;
                font-size: 1.5em;
                font-weight: 600;
            }

            figure {
                margin: 0;
                width: 415px;
                overflow: hidden;
            }

            .website_gif {
                width: 100%;
                transition: transform 0.15s ease-in-out;
            }

            .website_gif:hover {
                transform: scale(1.1);
            }
        }

        .projectParagraph {
            position: absolute;
            width: 310px;
            height: 225px;
            left: 15%;
            z-index: 10;
            overflow: hidden;
            transition: 1s ease;
            align-self: flex-end;

            .badge {
                font-size: 2em;
                margin: 0;
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                i,
                svg {
                    margin-right: 15px;
                    color: $primary-color_darker;

                    &:nth-child(even) {
                        color: $primary-color;
                    }
                }
            }
        }

        .projectParagraph_open {
            left: 58%;
            transition: 1s ease-out;
        }

        .openButton {
            height: 100%;
            background-color: $secondary-color;
            color: white;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            .fas {
                transition: all 0.8s ease-in;
            }

            .rotate {
                transform: rotate(180deg);
            }
        }

        &:nth-child(even) {
            display: flex;
            padding: 40px 40px 40px 0;
            transform: translateX(10%);
            left: 5%;

            .image {
                z-index: 20;

                .website_gif {
                    width: 412px;
                    height: 232px;
                }
            }

            .projectParagraph {
                left: auto;
                right: 15%;
                text-align: end;

                .badge {
                    justify-content: flex-end;

                    i,
                    svg {
                        margin-right: 0px;
                        margin-left: 15px;
                    }
                }
            }

            .projectParagraph_open {
                right: 58%;
                transition: 1s ease-out;
            }

            .openButton {
                min-height: 100%;
                background-color: $secondary-color;
                color: white;
                border-radius: 0 5px 5px 0;
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
            }

            .open {
                width: 850px;
                transition: width 0.8s;
            }
        }
    }

    .open {
        width: 850px;
        transition: width 1s;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
