#skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 20px 0 20px;
    background: linear-gradient(175deg, transparent calc(80% + 1px), $primary-color 20.5%);

    .skillCard {
        position: relative;
        top: -150px;
        background-color: $secondary-color;
        color: white;
        padding: 20px;
        width: 400px;
        border-radius: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .title {
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            font-size: 1.4em;
        }

        .row {
            border-radius: 15px;
            background-color: white;
            margin: 20px 0;
            color: $secondary-color;
            font-size: 1em;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
            margin: 15px 10px;
            width: 35%;
            cursor: default;

            i,
            span,
            svg {
                font-size: 2.5em;
                margin-bottom: 10px;
            }
        }
    }

    .paragraph {
        max-width: 600px;
        padding-left: 20px;

        &.js-scroll{
            opacity: 0;
            transition: opacity 500ms;
            
            &.scrolled {
                opacity: 1;
        
                &.fadeIn {
                    animation: fadeInBottom 750ms ease-in-out both;
                }
            }
        }

        .languages {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 80px auto;
            width: 350px;
            border-radius: 10px;
            padding: 20px 0;
            background-color: $primary-color-darker;
            color: white;
            box-shadow: 0 4px 8px 0 #b4b4b4;

            .title {
                margin: 0 0 20px 0;
                text-transform: uppercase;
            }

            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;

                svg {
                    margin-right: 5px;
                }

                .column {
                    padding: 10px;
                    text-align: center;
                    background-color: white;
                    border-radius: 10px;
                    width: 45%;
                    color: black;
                }
            }
        }
    }
}

@keyframes fadeInBottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
        
      }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0px);
        opacity: 1;
    }
}

@include for-tablet-down{

    #skills{
        flex-flow: column nowrap;

        .skillCard{
            order: 1;
            width: auto;

            .row{
                width: 15%;
            }
        }

        .paragraph{
            order: 2;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            position: relative;
            top: -100px;
            display: flex;

            .text{
                min-width: 333px;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 50%;
                margin: 0 20px 0 20px;
            }

            .languages{
                width: 300px;

                .row{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;

                    .column{
                        margin: 10px 0;
                        width: 70%;
                    }
                }
            }
        }
    }
}

@include for-phone-down{
    #skills{
        .skillCard{
            .row{
                width: 40%;
                text-align: center;
            }
        }

        .paragraph{
            flex-flow: column nowrap;
            .text{
                align-items: flex-start;
                margin: 0;
                min-width: 0;
                max-width: 100%;
            }

            .languages{
                min-width: 260px;
                width: auto;
            }
        }
    }
}