body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky .container {
  padding: 0px 10px !important;
  transition: padding 0.5s;
}

.sticky + .container {
  padding-top: 106px;
}

.banner {
  width: 100%;
  background-color: white;
  z-index: 100;
}
.banner .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.banner .name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2rem;
  vertical-align: middle;
}
.banner .name a {
  color: #213364;
}
.banner .navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  padding-left: 10px;
}
.banner .navbar ul li {
  color: #353535;
  margin: 0 5px;
  font-size: 1.7em;
}
.banner .navbar ul li a {
  color: #353535;
}
.banner .navbar ul li a:hover {
  color: #213364;
}
.banner .navbar ul .slash {
  cursor: default;
  font-size: 2.8em;
  height: 54px;
  line-height: 48px;
  margin: 0 10px;
}
.banner .contact {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  font-size: 1.2em;
}
.banner .contact a {
  font-weight: 700;
  color: #213364;
}
.banner .contact i {
  font-size: 1.7em;
  margin-left: 10px;
}
.banner .contact a:hover > .far {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 120px 20px;
  background: linear-gradient(to top, #101f47 0%, #101f47 90%, #172b63 0%, #172b63 90%);
}
.about .photo {
  width: 150px;
}
.about .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  color: white;
  padding-top: 20px;
}
.about .presentation a {
  text-decoration: none;
  color: white;
}
.about .presentation a:hover {
  font-weight: 600;
}
.about .presentation .title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 10px;
}
.about .presentation .text {
  max-width: 600px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 20px 0 20px;
}
.skills .card {
  position: relative;
  top: -150px;
  background-color: #353535;
  color: white;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.skills .card .title {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.4em;
}
.skills .card .row {
  border-radius: 15px;
  background-color: white;
  margin: 20px 0;
  color: #353535;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 15px 10px;
  width: 35%;
  cursor: default;
}
.skills .card .row i,
.skills .card .row span,
.skills .card .row svg {
  font-size: 2.5em;
  margin-bottom: 10px;
}
.skills .paragraph {
  max-width: 600px;
}

/*# sourceMappingURL=style.css.map */
