body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#banner {
  width: 100%;
  background-color: white;
  z-index: 100;
}
#banner .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#banner .name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2rem;
  vertical-align: middle;
}
#banner .name a {
  color: #152654;
}
#banner #navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  padding-left: 10px;
}
#banner #navbar ul li {
  color: #292929;
  margin: 0 5px;
  font-size: 1.7em;
}
#banner #navbar ul li a {
  color: #292929;
}
#banner #navbar ul li a:hover {
  color: #152654;
}
#banner #navbar ul .slash {
  cursor: default;
  font-size: 2.8em;
  height: 54px;
  line-height: 48px;
  margin: 0 10px;
}
#banner .contact {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  font-size: 1.2em;
}
#banner .contact a {
  font-weight: 700;
  color: #213364;
}
#banner .contact i {
  font-size: 1.7em;
  margin-left: 10px;
}
#banner .contact a:hover > .far {
  font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 0 0 rgba(17, 17, 17, 0.07);
}
.sticky .container {
  padding: 0px 10px !important;
  transition: padding 0.5s;
}

.sticky + .container {
  padding-top: 106px;
}

#about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 120px 20px;
  /*background: linear-gradient(
      to top,
      $primary-color_darker 0%,
      $primary-color_darker 90%,
      $primary-color 0%,
      $primary-color 90%
  );*/
  background-image: url(../../public/img/background_cover.jpg);
  background-size: cover;
  background-position: top;
}
#about .photo {
  width: 150px;
}
#about .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  color: white;
  padding-top: 20px;
}
#about .presentation a {
  text-decoration: none;
  color: white;
}
#about .presentation a:hover {
  font-weight: 600;
}
#about .presentation .title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 10px;
}
#about .presentation .text {
  max-width: 600px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 20px 0 20px;
  background: linear-gradient(175deg, transparent calc(80% +1px), #152654 20.5%);
}
#skills .card {
  position: relative;
  top: -150px;
  background-color: #292929;
  color: white;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#skills .card .title {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.4em;
}
#skills .card .row {
  border-radius: 15px;
  background-color: white;
  margin: 20px 0;
  color: #292929;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 15px 10px;
  width: 35%;
  cursor: default;
}
#skills .card .row i,
#skills .card .row span,
#skills .card .row svg {
  font-size: 2.5em;
  margin-bottom: 10px;
}
#skills .paragraph {
  max-width: 600px;
  padding-left: 20px;
}
#skills .paragraph .languages {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px 0;
  background-color: #152654;
  color: white;
  box-shadow: 0 4px 8px 0 #b4b4b4;
}
#skills .paragraph .languages .title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
#skills .paragraph .languages .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#skills .paragraph .languages .row svg {
  margin-right: 5px;
}
#skills .paragraph .languages .row .column {
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 45%;
  color: #152654;
}

#projects {
  position: relative;
  background-color: transparent;
  padding-bottom: 100px;
}
#projects::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 75px, 100% 100%, 0% calc(100% - 75px));
  background-color: #152654;
}
#projects .hero_content {
  position: relative;
  z-index: 1;
}
#projects .title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 100px;
}
#projects .projectList {
  display: flex;
  flex-direction: column;
}
#projects .projectCard {
  height: 400px;
  width: 525px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 100px;
  padding: 40px 0 40px 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: width 0.8s;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-10%);
}
#projects .projectCard .thumbnail {
  z-index: 20;
  align-self: flex-end;
  height: 100%;
}
#projects .projectCard .thumbnail .website {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 1.5em;
  font-weight: 600;
}
#projects .projectCard .thumbnail figure {
  margin: 0;
  width: 415px;
  overflow: hidden;
}
#projects .projectCard .thumbnail .website_gif {
  width: 100%;
  transition: transform 0.15s ease-in-out;
}
#projects .projectCard .thumbnail .website_gif:hover {
  transform: scale(1.1);
}
#projects .projectCard .projectParagraph {
  position: absolute;
  width: 310px;
  height: 225px;
  left: 15%;
  z-index: 10;
  overflow: hidden;
  transition: 1s ease;
  align-self: flex-end;
}
#projects .projectCard .projectParagraph .badge {
  font-size: 2em;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#projects .projectCard .projectParagraph .badge i,
#projects .projectCard .projectParagraph .badge svg {
  margin-right: 15px;
  color: #101f47;
}
#projects .projectCard .projectParagraph .badge i:nth-child(even),
#projects .projectCard .projectParagraph .badge svg:nth-child(even) {
  color: #152654;
}
#projects .projectCard .projectParagraph_open {
  left: 58%;
  transition: 1s ease-out;
}
#projects .projectCard .openButton {
  min-height: 100%;
  background-color: #292929;
  color: white;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
#projects .projectCard .openButton .fas {
  transition: all 0.8s ease-in;
}
#projects .projectCard .openButton .rotate {
  transform: rotate(180deg);
}
#projects .projectCard:nth-child(even) {
  display: flex;
  padding: 40px 60px 40px 0;
  transform: translateX(10%);
}
#projects .projectCard:nth-child(even) .image {
  z-index: 20;
}
#projects .projectCard:nth-child(even) .image .website_gif {
  width: 412px;
  height: 232px;
}
#projects .projectCard:nth-child(even) .projectParagraph {
  left: auto;
  right: 15%;
  text-align: end;
}
#projects .projectCard:nth-child(even) .projectParagraph .badge {
  justify-content: flex-end;
}
#projects .projectCard:nth-child(even) .projectParagraph .badge i,
#projects .projectCard:nth-child(even) .projectParagraph .badge svg {
  margin-right: 0px;
  margin-left: 15px;
}
#projects .projectCard:nth-child(even) .projectParagraph_open {
  right: 58%;
  transition: 1s ease-out;
}
#projects .projectCard:nth-child(even) .openButton {
  min-height: 100%;
  background-color: #292929;
  color: white;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
#projects .projectCard:nth-child(even) .open {
  width: 850px;
  transition: width 0.8s;
}
#projects .open {
  width: 850px;
  transition: width 1s;
}

/*# sourceMappingURL=style.css.map */
