@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#banner {
  width: 100%;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
}
#banner .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#banner .name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2rem;
  vertical-align: middle;
}
#banner .name a {
  color: #152654;
}
#banner #navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  padding-left: 10px;
}
#banner #navbar ul li {
  color: #292929;
  margin: 0 5px;
  font-size: 1.7em;
}
#banner #navbar ul li a {
  color: #292929;
}
#banner #navbar ul li a:hover {
  color: #152654;
}
#banner #navbar ul .slash {
  cursor: default;
  font-size: 2.8em;
  height: 54px;
  line-height: 48px;
  margin: 0 10px;
}
#banner .contact {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  font-size: 1.2em;
}
#banner .contact a {
  font-weight: 700;
  color: #213364;
}
#banner .contact i {
  font-size: 1.7em;
  margin-left: 10px;
}
#banner .contact a:hover > .far {
  font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 0 0 rgba(17, 17, 17, 0.07);
}
.sticky .container {
  padding: 0px 10px !important;
  transition: padding 0.5s;
}

.sticky + .container {
  padding-top: 106px;
}

#about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  padding: 20px;
  /*background: linear-gradient(
      to top,
      $primary-color_darker 0%,
      $primary-color_darker 90%,
      $primary-color 0%,
      $primary-color 90%
  );*/
  background-image: url(../../public/img/background.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
#about .photo {
  width: 150px;
}
#about .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  color: white;
  padding-top: 20px;
}
#about .presentation a {
  text-decoration: none;
  color: white;
}
#about .presentation a:hover {
  font-weight: 600;
}
#about .presentation .title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 10px;
}
#about .presentation .text {
  max-width: 600px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 20px 0 20px;
  background: linear-gradient(175deg, transparent calc(80% +1px), #152654 20.5%);
}
#skills .skillCard {
  position: relative;
  top: -150px;
  background-color: #292929;
  color: white;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#skills .skillCard .title {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.4em;
}
#skills .skillCard .row {
  border-radius: 15px;
  background-color: white;
  margin: 20px 0;
  color: #292929;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 15px 10px;
  width: 35%;
  cursor: default;
}
#skills .skillCard .row i,
#skills .skillCard .row span,
#skills .skillCard .row svg {
  font-size: 2.5em;
  margin-bottom: 10px;
}
#skills .paragraph {
  max-width: 600px;
  padding-left: 20px;
}
#skills .paragraph.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
#skills .paragraph.js-scroll.scrolled {
  opacity: 1;
}
#skills .paragraph.js-scroll.scrolled.fadeIn {
  animation: fadeInBottom 750ms ease-in-out both;
}
#skills .paragraph .languages {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px 0;
  background-color: #101f47;
  color: white;
  box-shadow: 0 4px 8px 0 #b4b4b4;
}
#skills .paragraph .languages .title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
#skills .paragraph .languages .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#skills .paragraph .languages .row svg {
  margin-right: 5px;
}
#skills .paragraph .languages .row .column {
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 45%;
  color: black;
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0px);
    opacity: 1;
  }
}
#projects {
  position: relative;
  background-color: transparent;
  padding-bottom: 170px;
}
#projects::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  max-width: 100ù;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 75px, 100% 100%, 0% calc(100% - 75px));
  background-color: #152654;
  /* background-image: url(../../public/img/background_cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}
#projects .hero_content {
  position: relative;
  z-index: 1;
}
#projects .title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 80px;
}
#projects .projectList {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}
#projects .projectList .row {
  width: 100%;
  margin-bottom: 185px;
  display: flex;
  justify-content: center;
}
#projects .projectCard {
  height: 450px;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  margin: 60px 40px 0px 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: height, 0.8s, opacity 200ms;
  position: relative;
  /* &:nth-child(even) {
       display: flex;
       padding: 40px 40px 40px 0;
       transform: translateX(10%);
       left: 5%;

       .image {
           z-index: 20;

           .website_gif {
               width: 412px;
               height: 232px;
           }
       }

       .projectParagraph {
           left: auto;
           right: 15%;
           text-align: end;
           margin-top: auto;
           margin-bottom: auto;

           .badge {
               justify-content: flex-end;

               i,
               svg {
                   margin-right: 0px;
                   margin-left: 15px;
               }
           }
       }

       .projectParagraph_open {
           right: 58%;
           transition: all 1s;
       }

       .openButton {
           min-height: 100%;
           background-color: $secondary-color;
           color: white;
           border-radius: 5px 5px 5px 0;
           display: flex;
           align-items: center;
           padding: 5px;
           cursor: pointer;
       }

       .open {
           height: 550px;
           transition: all 0.8s;
       }
   }*/
}
#projects .projectCard.js-scroll {
  opacity: 0;
}
#projects .projectCard.js-scroll.scrolled {
  opacity: 1;
}
#projects .projectCard.js-scroll.scrolled.slideLeft {
  animation: slideInLeft 750ms ease-in-out both;
}
#projects .projectCard.js-scroll.scrolled.slideRight {
  animation: slideInRight 750ms ease-in-out both;
}
#projects .projectCard .thumbnail {
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: center;
  padding: 20px 20px 0 20px;
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0 0;
}
#projects .projectCard .thumbnail .website {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 1.5em;
  font-weight: 600;
}
#projects .projectCard .thumbnail figure {
  margin: 0;
  width: 415px;
  overflow: hidden;
}
#projects .projectCard .thumbnail .website_gif {
  width: 100%;
  transition: transform 0.15s ease-in-out;
}
#projects .projectCard .thumbnail .website_gif:hover {
  transform: scale(1.1);
}
#projects .projectCard .thumbnail .line {
  padding-top: 20px;
  width: 25%;
  border-bottom: 1px solid #152654;
}
#projects .projectCard .projectParagraph {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 225px;
  top: 25%;
  left: 10%;
  z-index: 10;
  overflow: hidden;
  transition: all 1s ease-out;
  align-self: flex-end;
}
#projects .projectCard .projectParagraph .badge {
  font-size: 2em;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#projects .projectCard .projectParagraph .badge i,
#projects .projectCard .projectParagraph .badge svg {
  margin-right: 15px;
  color: #101f47;
}
#projects .projectCard .projectParagraph .badge i:nth-child(even),
#projects .projectCard .projectParagraph .badge svg:nth-child(even) {
  color: #152654;
}
#projects .projectCard .projectParagraph_open {
  top: 58%;
  transition: all 1s ease-out;
}
#projects .projectCard .openButton {
  width: 100%;
  background-color: #484848;
  color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
#projects .projectCard .openButton .fas {
  transition: all 0.8s ease-in;
}
#projects .projectCard .openButton .rotate {
  transform: rotate(180deg);
}
#projects .open {
  margin-bottom: -200px;
  height: 650px;
  transition: all 1s;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
